<ion-view title="Conta">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" src="/img/rsz_10.png">
                <h3 id="profile-name">Lorem Ipsum</h3>
                <span id="profile-description">Lorem <a href="http://twitter.com/ionicframework">@ionicébemmassa</a>, Ipsum of
            <a href="http://twitter.com/driftyco">@anonCO</a></span>
            </div>
    </ion-content>
</ion-view>
