<ion-view view-title="Filtros">
    <ion-content>
        <ion-list>
            <ion-item class="item item-divider">Convenios</ion-item>
            <ion-item class="item-icon-left item-toggle">
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <div class="fs1">
                    <div>
                        <span class="icon icon-ativo">
    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
                    </div>
                </div>Convenios Ativos</ion-item>
            <ion-item class="item-icon-left item-toggle">
                <label class="toggle toggle-stable">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <div class="fs1">
                    <div>
                        <span class="icon icon-expirado">
    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
                    </div>
                </div>Convenios Expirados</ion-item>
            <ion-item class="item-icon-left item-toggle">
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <div class="fs1">
                    <div>
                        <span class="icon icon-anulado">
    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
                    </div>
                </div>Convenios Anulados</ion-item>
            <ion-item class="item-icon-left item-toggle">Convenios Denunciados
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                <div class="fs1">
                    <div>
                        <span class="icon icon-denuncia">
    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
