<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="MapController" class="has-header">
    <div id="map" data-tap-disabled="true"></div>
    <div class="float-button leaflet-bottom leaflet-right" ng-click="centerAtUser()">
      <span class="height-fix">
	<a ui-sref="add-trip" class="content">
	  <i class="ion-android-locate"> </i>
	</a>
      </span>
    </div>
  </ion-content>
</ion-view>
